:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  position: absolute;
  background-image: url("./img/wp8122162.jpg");
  background-size: cover;
  width: 100%;
  height: 95vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play-board {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.player-one,
.player-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.middle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.winner-display,
.play-btn,
.replay-btn,
.exit {
  width: 16rem;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(0, 2, 142);
  background-color: #faebd7e1;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgb(32, 49, 7);
}

.play-btn {
  font-size: 3rem;
  width: 30rem;
  text-shadow: 2px 2px 2px rgb(255, 85, 0), -2px -2px 2px rgb(214, 13, 232);
  color: rgb(237, 237, 51);
}

.exit {
  color: rgb(143, 29, 29);
}

button:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.winner-display {
  position: absolute;
  top: -15rem;
  right: 50%;
  transform: translateX(50%);
  width: 30rem;
  color: #000000;
  font-size: 2.5rem;
  font-family: monospace;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.exit {
  color: rgb(255, 0, 0);
}

footer {
  height: 4vh;
  background-color: azure;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h3 {
  color: rgb(0, 2, 142);
  font-size: 4rem;
  background-color: antiquewhite;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

h1 {
  position: relative;
  transform: translateX(-2%);
  margin-top: 4rem;
  padding: 2rem 4rem;
  text-shadow: 4px 4px 4px rgb(153, 255, 0), 4px -4px 4px rgb(24, 255, 243),
    -4px 0px 4px rgb(247, 2, 255);
  /* text-shadow: -2px -4px 4px rgb(24, 255, 243); */
}

h3 {
  font-size: 1.8rem;
  text-shadow: 4px 4px 4px rgb(153, 255, 0), 4px -4px 4px rgb(24, 255, 243),
    -4px 0px 4px rgb(247, 2, 255);
}

img {
  width: 11rem;
  height: 15rem;
  border-radius: 2rem;
}

/* js manipulate */

.hidden {
  display: none;
}

.player-one-choice img,
.player-two-choice img {
  box-shadow: 2px 2px 8px 2px rgb(131, 50, 50);
  height: 18rem;
  width: 13rem;
}

.player-one h3,
.player-one img {
  box-shadow: 2px 2px 8px 2px rgb(32, 20, 54);
}
.player-two h3,
.player-two img {
  box-shadow: 2px 2px 8px 2px rgb(32, 20, 54);
}
