:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-image: url("./img/wp8122162.jpg");
  background-size: cover;
  width: 100%;
  height: 95vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play-board {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.player-one,
.player-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.middle-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.winner-display,
.play-btn,
.replay-btn,
.exit {
  width: 16rem;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(0, 2, 142);
  background-color: #faebd7;
  text-align: center;
  text-transform: capitalize;
}

button:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.winner-display {
  color: #000000;
}

.exit {
  color: rgb(255, 0, 0);
}

footer {
  height: 4vh;
  background-color: azure;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h3 {
  color: rgb(0, 2, 142);
  font-size: 2.2rem;
  background-color: antiquewhite;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

h1 {
  margin-top: 4rem;
  padding: 2rem 4rem;
}

h3 {
  font-size: 1.8rem;
}

img {
  width: 10rem;
  height: 15rem;
  border-radius: 2rem;
}

/* js manipulate */

.hidden {
  display: none;
}

.player-one h3,
.player-one img {
  box-shadow: 2px 2px 8px 4px rgb(233, 132, 0);
}
.player-two h3,
.player-two img {
  box-shadow: 2px 2px 8px 4px rgb(40, 34, 25);
}
